<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/listProductPage}"><p>List Product</p></a>
<h2>Create Product</h2>
<h3 th:text="${success}"></h3>
<div>
    <form th:action="@{create}" th:method="post" th:object="${product}">
        <input type="text" placeholder="Product Name" th:field="*{name}" />
        <input type="text" placeholder="Product Description" th:field="*{description}" />
        <input type="text" placeholder="Product Price" th:field="*{price}" />
        <input type="text" placeholder="Product Image" th:field="*{image}" />
        <input type="submit" value="Create">
    </form>
</div>
</body>
</html>