<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body>
<p><a th:href="@{/listCategory}">List Category</a></p>
<h3 th:text="${success}"></h3>

<fieldset>
    <legend>Edit Category</legend>
    <form th:action = "@{/editCategory}" th:method="post" th:object="${category}">
            <input th:type="hidden" name="id" th:field="*{id}">
            <input id="name" th:type="text" th:field="*{name}"><br>
            <input type="submit" value="Edit">
    </form>
</fieldset>
</body>
</html>