<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Blog</title>
    <style>
        #title{
            width: 400px;
        }
        #article{
            width: 75%;
            height: 400px;
        }
    </style>
</head>
<body>
<p><a th:href="@{/listBlogPage}">List Blog</a></p>
<h3 th:text="${success}"></h3>
<fieldset>
    <legend>Create Blog</legend>
    <form th:action="@{/createBlog}" th:method="post" th:object="${blog}">
        <label for="title">
            <input id="title" placeholder="Enter Title Blog" th:type="text" th:field="*{title}"><br>
            <textarea id="article" th:type="text" placeholder="Enter content of Blog"
                      th:field="*{article}"></textarea><br>
            <select th:field="*{category}">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
            <input type="submit" value="Create">
        </label>
    </form>
</fieldset>
</body>
</html>