<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<th:block th:if="${userInfo}">
    <span th:text="${userInfo.username}"></span>
</th:block>

<br>
<a th:href="@{/loginPage}"><span>Login</span></a> | <a th:href="@{/logout}"><span>Logout</span></a>
<form th:action="@{/homePage}">
    <label>
        <input type=text name="keyword" placeholder="Search by Title"/>
    </label>
    <input type="submit" value="Search">
</form>
<span th:href="@{/createBlogPage}"></span>
<span id="menu" th:each="category: ${categories}">
        <a th:href="@{../blog-by-category/__${category.id}__/__${category.name}__}"><span
                th:text="${category.name}"></span></a>
</span>
<hr>
<article th:each="blog : ${listBlogs}">
    <span th:text="${blog.category.name}"></span>/
    <span th:text="${blog.title}"></span>--
    Create At: <span th:text="${blog.createdAt}"></span>
    <pre th:text="${blog.article}"></pre>
</article>
<div>
    <a th:href="@{/homePage/(page=${listBlogs.number - 1}, keyword=${keyword})}" th:if="${listBlogs.hasPrevious()}">Previous</a>
    <span th:text="${listBlogs.number + 1}"></span>/<span th:text="${listBlogs.totalPages}"></span>
    <a th:href="@{/homePage/(page=${listBlogs.number + 1}, keyword=${keyword})}" th:if="${listBlogs.hasNext()}">Next</a>
</div>

</body>
</html>