<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h4><a th:href="@{/}">Create Blog</a></h4>
<h3 th:text="${success}"></h3>
<fieldset>
    <legend>List Blog</legend>
    <table>
        <tbody>
        <tr th:each="blog : ${listBlog}">
            <td>
                <a th:href="@{detail/__${blog.id}__}">
                    <span th:text="${blog.title}"></span>
                </a>
            </td>
            <td><a th:href="@{edit/__${blog.id}__}">Edit</a></td>
            <td><a th:href="@{delete/__${blog.id}__}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</fieldset>
</body>
</html>